body header nav div ul li a{
    color: #002446;
    transition: all 1s;
}
body header nav div ul li a:hover{
    color: #ffac38;
}
nav{
    margin: 15px;
    padding: 15px;
}
span a{
    color: #002446;
}
.links{
    display: flex;
}



.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#logout{
    display: none;
}
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.section-link-content{
    background-color: #002446;
}
.projects a{
    max-width: 300px;
}
.footer-nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap:0;
}
.footer-nav-content div {
    max-width: 25%;
}


@media (max-width: 820px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-link img{
        display: none;
    }
    .section-link-content{
        padding: 20px 0;
    }
    .footer-nav-content{
        flex-direction: column;
    }
    .footer-nav-content div{
        max-width: 100%;
        margin: 20px 0;
    }
    .footer-nav span{
        font-size: 10px;
    }
}
@media (max-width: 580px) {
    .burger{
        display: block;
    }
    nav{
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    .links{
        display: none;
    }

}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    opacity: .7;
    z-index: 9999;
}

.modall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 575px;
    position: relative;
    background-color: white;
    overflow: auto;
    z-index: 9999;
    border-radius: 18px;
}

.modalWrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalMain{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.first_content{
margin-left: 30px;
}

.first_content p{
    font-size: 26px;
    color: #00294F;
    margin-top: 18px;
}

.second_content{
    width: 40%;
    margin-right: 25px;
    margin-left: 70px;
}

.modalOkButton{
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 5px;
    outline: none;
}

/*-------------------------
 */
#signupModal {
    display: none;
}

.modal_header{
    display: flex;
    justify-content: end;
}
